# Import

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("./csv/league_schedule.csv",sep=";",encoding="utf-8")

In [22]:
df['id']=0

In [23]:
df

     day team1_id team2_id  is_game  is_playoff  id
0      1      KDF      HLE     True       False   0
1      1       NS      DRX     True       False   0
2      2       KT      GEN     True       False   0
3      2      BRO       DK     True       False   0
4      3      LSB      KDF     True       False   0
..   ...      ...      ...      ...         ...  ..
110   66      NaN      NaN    False        True   0
111   67      NaN      NaN     True        True   0
112   68      NaN      NaN     True        True   0
113   69      NaN      NaN    False        True   0
114   70      NaN      NaN     True        True   0

[115 rows x 6 columns]

In [24]:
for idx, item in df.iterrows():
    df.loc[idx,'id'] = idx+1

In [25]:
def change_team(elem):
    if elem =="T1":
        return 1
    if elem =="GEN":
        return 2
    if elem =="DRX":
        return 3
    if elem =="DK":
        return 4
    if elem =="BRO":
        return 5
    if elem =="KDF":
        return 6
    if elem =="HLE":
        return 7
    if elem =="KT":
        return 8
    if elem =="LSB":
        return 9
    if elem =="NS":
        return 10
    else:
        return 0

In [26]:
df['team1_id']=df['team1_id'].apply(change_team)
df['team1_id']=df['team1_id'].astype('int64')
df['team2_id']=df['team2_id'].apply(change_team)
df['team2_id']=df['team2_id'].astype('int64')

In [27]:
df

     day  team1_id  team2_id  is_game  is_playoff   id
0      1         6         7     True       False    1
1      1        10         3     True       False    2
2      2         8         2     True       False    3
3      2         5         4     True       False    4
4      3         9         6     True       False    5
..   ...       ...       ...      ...         ...  ...
110   66         0         0    False        True  111
111   67         0         0     True        True  112
112   68         0         0     True        True  113
113   69         0         0    False        True  114
114   70         0         0     True        True  115

[115 rows x 6 columns]

In [28]:
df.to_csv("./csv/league_schedule_final.csv",index=False,sep=";",encoding="utf-8-sig")