# Import

In [5]:

import pandas as pd;

In [6]:
df1=pd.read_csv("./csv/champion.csv",encoding="utf-8-sig",sep=";")
df2=pd.read_csv("./csv/champion_with_status.csv", encoding="utf-8-sig",sep=";")

## Add Tier

In [7]:
df1

,id,korean_name,english_name,position,image,tier,feature
0,1,가렌,garen,TOP,https://lck-esports-manager.s3.ap-northeast-2....,3,LANE
1,2,갈리오,galio,MIDDLE,https://lck-esports-manager.s3.ap-northeast-2....,5,FIGHT
2,3,갱플랭크,gangplank,TOP,https://lck-esports-manager.s3.ap-northeast-2....,3,LANE
3,4,그라가스,gragas,TOP,https://lck-esports-manager.s3.ap-northeast-2....,3,FIGHT
4,5,그레이브즈,graves,JUNGLE,https://lck-esports-manager.s3.ap-northeast-2....,5,GANKING
...,...,...,...,...,...,...,...
156,157,피들스틱,fiddlesticks,JUNGLE,https://lck-esports-manager.s3.ap-northeast-2....,5,FIGHT
157,158,피오라,fiora,TOP,https://lck-esports-manager.s3.ap-northeast-2....,2,OPERATION
158,159,피즈,fizz,MIDDLE,https://lck-esports-manager.s3.ap-northeast-2....,5,FIGHT
159,160,하이머딩거,heimerdinger,TOP,https://lck-esports-manager.s3.ap-northeast-2....,3,LANE
160,161,헤카림,hecarim,JUNGLE,https://lck-esports-manager.s3.ap-northeast-2....,5,GANKING

In [8]:
df2

,lane_status,fight_status,operation_status,roaming_status,ganking_status,jungling_status,first,middle,end
0,90,70,80,60,30,60,1.0,1.0,1.0
1,65,80,65,90,34,55,1.0,1.0,1.0
2,80,80,85,75,23,37,1.0,1.0,1.0
3,80,90,60,65,80,71,1.0,1.0,1.0
4,70,70,78,50,61,100,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...
156,67,95,56,75,77,91,1.0,1.0,1.0
157,81,72,100,66,65,67,1.0,1.0,1.0
158,72,73,71,79,64,56,1.0,1.0,1.0
159,99,91,45,47,34,43,1.0,1.0,1.0
160,87,73,55,90,90,76,1.0,1.0,1.0

In [5]:
df.head()

,nick_name,base_team_id,position,lane_status,operation_status,fight_status,grade,id,real_name,image,roaming_status,ganking_status,jungling_status
0,Canna,10,Top,80,60,60,R,1,김창동,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0
1,Doran,2,Top,70,90,90,UR,2,최현준,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0
2,Dove,9,Top,50,80,70,R,3,김재연,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0
3,DuDu,7,Top,70,50,50,C,4,이동주,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0
4,Kiin,6,Top,60,60,50,C,5,김기인,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0

In [9]:
final=pd.concat([df1,df2],axis=1)

In [11]:
final = final.drop(columns = ["feature"])

In [12]:
final.to_csv("./csv/champion_final.csv",encoding="utf-8",index=False,sep=";")