# Import

In [1]:

import pandas as pd;

In [2]:
df=pd.read_csv("./csv/player.csv", encoding="utf-8-sig",sep=";")

## Add Tier

In [3]:
df.head()

,nick_name,base_team_id,position,lane_status,operation_status,fight_status,grade,id,real_name,image
0,Canna,10,Top,80,60,60,R,1,김창동,https://lck-esports-manager.s3.ap-northeast-2....
1,Doran,2,Top,70,90,90,UR,2,최현준,https://lck-esports-manager.s3.ap-northeast-2....
2,Dove,9,Top,50,80,70,R,3,김재연,https://lck-esports-manager.s3.ap-northeast-2....
3,DuDu,7,Top,70,50,50,C,4,이동주,https://lck-esports-manager.s3.ap-northeast-2....
4,Kiin,6,Top,60,60,50,C,5,김기인,https://lck-esports-manager.s3.ap-northeast-2....

In [4]:
df['roaming_status']=0
df['ganking_status']=0
df['jungling_status']=0

In [5]:
df.head()

,nick_name,base_team_id,position,lane_status,operation_status,fight_status,grade,id,real_name,image,roaming_status,ganking_status,jungling_status
0,Canna,10,Top,80,60,60,R,1,김창동,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0
1,Doran,2,Top,70,90,90,UR,2,최현준,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0
2,Dove,9,Top,50,80,70,R,3,김재연,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0
3,DuDu,7,Top,70,50,50,C,4,이동주,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0
4,Kiin,6,Top,60,60,50,C,5,김기인,https://lck-esports-manager.s3.ap-northeast-2....,0,0,0

In [8]:
df.to_csv("./csv/player_status.csv",index=False,sep=";",encoding="utf-8-sig")